<h1>CRYPTO SCRAPEUR</h1>
<h1>💰</h1>

<%= form_for @crypto, url: home_show_path do |f| %>
<div class="form-group">
      <label>Choix de la crypto</label>
      <%= f.collection_select :id, Cryptodb.order(:name),:id,:name, {include_blank: false} %>
      <%= f.submit %>
</div>

<% end %>
