<body style="background-color:black;">
<h1 style="color:white;"><%= @crypto_id.name %></h1>

<h2 style="color:#f7931a;">Cours actuel : <%= @crypto_id.price %> $</h2>

<br><br>

<a style="color:white;" href="/">Retour</a>
</body>